* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: cursive;
  font-size: 15px;
}

body {
  overflow-x: hidden;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.281), inset 0 -5px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.281), inset 0 -5px 5px rgba(0, 0, 0, 0.281);
  z-index: 20;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: #fcfdfd;
}

nav h1 {
  color: black;
  font-size: 25px;
}

.fire {
  color: red;
  margin: 2px;
  top: -7px;
  position: relative;
}

nav > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3333%;
  height: 50px;
  z-index: 3;
}

.listDiv {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 5;
  max-width: 10%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.listDiv:hover span {
  border-color: aqua;
}

.count {
  position: relative;
  color: black;
  top: -7px;
  background-color: #fff;
  padding: 2px;
  border-radius: 50%;
}

nav div .listDiv span {
  -webkit-transition: .5s;
  transition: .5s;
  width: 30px;
  border: 2px solid #1b58ff;
  border-radius: 5px;
  margin: 5px;
}

.navdivs1 div:nth-child(1) {
  position: relative;
  margin-left: -33.3333%;
  -webkit-transition: .5s;
  transition: .5s;
  max-width: 33.3333%;
}

.navdivs1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.active1 {
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 0 5px #ff006a;
          box-shadow: 0 0 5px #ff006a;
}

.active2 {
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 5px #ff006a;
          box-shadow: 0 0 5px #ff006a;
}

.active3 {
  visibility: hidden;
}

.navdivs2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .navdivs1 .activelist {
  margin-left: 0px;
  color: #ffa3a3;
}

nav a {
  margin: 7px;
  text-decoration: none;
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 4px;
  border-radius: 15px;
  max-height: 50px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

nav a p {
  display: inline;
}

nav a span {
  color: #007bac;
  margin: 1px;
}

nav a:hover {
  color: #1b58ff;
  -webkit-box-shadow: 0 0 5px #000,inset 0 0 3px #000;
          box-shadow: 0 0 5px #000,inset 0 0 3px #000;
  text-shadow: 0 0 5px #1b91ff;
}

.Menu {
  position: relative;
  background-color: rgba(252, 253, 253, 0.548);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.281);
  width: 100%;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.Menu a:nth-child(1) {
  margin-top: 20px;
}

#AllMenu {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 93vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 2;
}

.navdivs2 .active {
  -webkit-box-shadow: 0 0 3px  #000,inset 0 0 3px  #000;
          box-shadow: 0 0 3px  #000,inset 0 0 3px  #000;
  border-radius: 15px;
  color: #ea00ff;
  font-weight: bold;
}

.navdivs2 .active span {
  color: #00f0f0;
}

#AllMenu h3 {
  color: black;
  font-size: 20px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  img[alt="Nike"] {
    max-width: 100px;
  }
  .navdivs2 a p {
    display: none;
  }
  nav > div:nth-child(2) {
    display: none;
  }
  .navdivs1 div:nth-child(1) {
    max-width: 85%;
    margin-left: -85%;
  }
  nav .navdivs1 .activelist {
    margin-left: 0px;
    color: #ffa3a3;
  }
}
/*# sourceMappingURL=App.css.map */